# App
NODE_ENV=development
PORT=3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=TU_CLAVE
DB_DATABASE=NOMBRE_DE_BD


# JWT
JWT_SECRET=cCLAVE_PARA_JWT
JWT_EXPIRES_IN=24h

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret
AWS_S3_BUCKET_NAME=your-bucket

# Frontend
FRONTEND_URL=http://localhost:3000
# Cloudinary
CLOUDINARY_CLOUD_NAME=dupcky1d8
CLOUDINARY_API_KEY=819SOLO-NROS8754
CLOUDINARY_API_SECRET=<tu_api_secret>